/* Centering the image */

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  position: relative;
}


.text-input {
  position: absolute;
  padding: 5px;
  font-size: 16px;
  outline: none;
  border: none;
  background: transparent;
}


body {
  background-image: url("../images/beginBGLight.png");
  background-size: 100%;
  overflow: hidden;
  font-family: 'Lexend', sans-serif;
}


